.App {
  text-align: center;
  /*background: #4b6584;*/
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-area{

  z-index: 10;
  caret-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  background: transparent;
  justify-content: flex-start;
  align-items: flex-start;
  color: transparent;
  line-height: 1.5rem;
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 0.5rem;
  margin: 0;
}

.huh {
  padding: 0;
  margin: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.input-div{
  padding: 0;
  margin: 0;
  flex: 15;
  min-height: 100vw;
  height: 100%;
  display: flex;
  background: transparent;
  justify-content: flex-start;
  align-items: flex-start;
}

.line-number{
  font-style: italic;
  font-family: 'Fira Sans', sans-serif;
  flex: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  text-align: right;
  background: transparent;
  justify-content: flex-start;
  align-items: stretch;
  color: #2c2f43;
  font-size: 16px;
  overflow: hidden;
  padding-right: 4px;
  min-width: 3rem;
  /*border-right: white 4px solid;*/
  resize: none;
}

.result {
  padding-top: 10px;
  text-align: left;
  padding-left: 28px;
  flex: 15;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fdfdfd;
  justify-content: start;
  align-items: stretch;
  color: #2c2f43;
  word-wrap: normal;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  .image-div{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    width: 128px;
    height: 128px;
  }
}

.code-block {
  display: flex;
  width: 45vw;
  height: 24px;
  padding: 12px;
  color: #ffd336;
  background-color: #791717;
}

.preety-text {
  word-wrap: normal;
  z-index: 2;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: calc(51% - 19px);
  position: fixed;
  background-color: #212d53;
  color: #fdfdfd;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 10px 0 10px 10px;

  .preety-div{
    margin-bottom: 5px;
  }

  .preety-div:first-child{
    margin-top: 3px;
    margin-bottom: 5px;
  }

  .empty-div {
    color: transparent;
  }

  .image {
    color: #f92672;
  }

  .header {
    color: #ae81ff;
  }

  .code{
    color: #fd971f;
  }
}

